//排版使用
.layout {
    display: flex;
}

.section-nav {
    background-color: $color-primary;
    height: 100vh;
    width: 15%;
    // position: fixed;
    min-width: 200px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.section-right {
    flex-grow: 1;
    margin-left: 15%;
}

.section-home {
    height: 100vh;

}

