$color-primary:#222934;
$color-primary-light:#2B333E;
$color-primary-lighest:#505865;

$color-white-grey:#f1f1f1;
$color-white-light:#f3f3f3;
$color-white-lightest:#f9f9f9;

$color-purple-grey:#DBD2C9;
$color-yellow:#f2ab37;


$color-black:#000000;

$color-green-primary:#55c57a;
$gap:.3rem;